venv
.env
project.md
README.md
logs/*
config/gcp/*
config/airflow.cfg
terraform/config/service_account_key.json
utils.txt
test.py
setup_config.sh
terraform/.terraform
.terraform.lock.hcl

.claude
*pycache*
!.gitkeep