venv
.env
logs/*
config/gcp/*
config/airflow.cfg
airflow-gcp-key.json
service_account_key.json
config/*.json
*.json.key
infra/.terraform
.terraform.lock.hcl
.claude
*pycache*
!.gitkeep
infra/variables.test