venv
.env
project.md
README.md
logs/*
config/gcp/*
config/airflow.cfg
airflow-gcp-key.json
service_account_key.json
config/*.json
*.json.key
utils.txt
infra/.terraform
.terraform.lock.hcl
*.md
.claude
*pycache*
!.gitkeep